export SNOWFLAKE_USER=<input SNOWFLAKE_USER here>
export SNOWFLAKE_PASSWORD=<input SNOWFLAKE_PASSWORD here>
export SNOWFLAKE_ACCOUNT=<input SNOWFLAKE_ACCOUNT here>
export DBT_PROJECT_PATH=<input DBT_PROJECT_PATH here>
