(

WITH RAW_ROW_COUNT AS (
    SELECT
        COUNT(1) AS RAW_ROW_COUNT
    FROM
        {{ raw_database }}.{{ raw_schema }}.{{ raw_table }}
)
, RAW_COLUMN_COUNT AS (
    SELECT
        COUNT(column_name) AS RAW_COLUMN_COUNT
    FROM
        {{ raw_database }}.INFORMATION_SCHEMA.columns
    WHERE
        table_catalog = '{{ raw_database }}'
        AND table_schema = '{{ raw_schema }}'
        AND table_name = '{{ raw_table }}'
) 

, RAW_TIMESTAMPS AS (
    SELECT 
        MIN(LAST_COMMIT_TIME) AS EARLIEST_TIMESTAMP,
        MAX(LAST_COMMIT_TIME) AS LATEST_TIMESTAMP
    FROM
        {{ raw_database }}.{{ raw_schema }}.{{ raw_table }}
)

SELECT
    '{{ raw_table }}' AS TABLE_NAME, *, current_timestamp() AS QUERY_PERFORMED_AT
FROM
    RAW_ROW_COUNT,
    RAW_COLUMN_COUNT,
    RAW_TIMESTAMPs
)